<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.st.dao.CustomerDao">
   <sql id="customer_select_where">
           customer_id like '%${check}%' or
           customer_name like '%${check}%' or
           customer_tel like '%${check}%' or
           customer_addr like '%${check}%' or
           customer_liaison like '%${check}%' 
   </sql>
	
<select id="customer_list" resultType="map" parameterType="map">
	select * 
	from Crm_customer where customer_id like '%${check}%' or
    customer_name like '%${check}%' or
    customer_tel like '%${check}%' or
    customer_addr like '%${check}%' or
    customer_liaison like '%${check}%' 
	limit ${start},${limit}
</select>
	
<select id="getCount" resultType="int" parameterType="map">
	select count(customer_id) from Crm_customer where
	customer_id like '%${check}%' or
    customer_name like '%${check}%' or
    customer_tel like '%${check}%' or
    customer_addr like '%${check}%' or
    customer_liaison like '%${check}%' 
</select>

<select id="getPublicCount" parameterType="map" resultType="int">
    select count(*) from Crm_customer 
    <where>
    (
    <include refid="customer_select_where"></include>
    )
    and customer_state = 0
    </where>
</select>
<select id="customer_public_list" parameterType="map" resultType="map">
    select * from Crm_customer
    <where>
    (
    <include refid="customer_select_where"></include>
    )
     and customer_state = 0
    </where>
    limit ${start},${limit}
</select>
<update id="customer_private" parameterType="map" >
    update Crm_customer set customer_state={#state},
    customer_user_id={loginUserID}
    where customer_id = {#customer_id}
</update>

<select id="getPrivateCount" parameterType="map" resultType="int">
    select count(*) from Crm_customer 
    <where>
    (
    <include refid="customer_select_where"></include>
    )
    and customer_state = 1
    </where>
</select>
<select id="customer_private_list" parameterType="map" resultType="map">
    select * from Crm_customer
    <where>
    (
    <include refid="customer_select_where"></include>
    )
     and customer_state = 1  and customer_user_id = #{loginUserID}
    </where>
    limit ${start},${limit}
</select>

<update id="customer_public"  parameterType="map">
     update Crm_customer set customer_state=0, cutomer_user_id='' where
     customer_id={#customer_id}
</update>
</mapper>